QLineEdit[class="LineEdit"] {
    background-color: --ThemeColor_Lineedit_Background_Default;
    color: --ThemeColor_Lineedit_Text_Default;
    font-family: --ThemeFont_Textblock_Body_Family;
    font-size: --ThemeFont_Textblock_Body_Size;
    font-weight: --ThemeFont_Textblock_Body_Weight;
    line-height: --ThemeFont_TextBlock_Body_Lineheight;
    border-width: 1px;
    border-style: none;
    border-radius: 3px;
    padding-top: 6px;
    padding-left: 6px;
    padding-bottom: 6px;
    padding-right: 3px;
}
QLineEdit[class="LineEdit"]:hover {
    background-color: --ThemeColor_Lineedit_Background_Hovered;
}
QLineEdit[class="LineEdit"]:pressed {
    background-color: --ThemeColor_Lineedit_Background_Pressed;
}
QLineEdit[class="LineEdit"]:checked {
    background-color: --ThemeColor_Lineedit_Background_On_Accent_Pressed;
}
QLineEdit[class="LineEdit"]:disabled {
    color: --ThemeColor_Button_Text_Disabled;
    background-color: --ThemeColor_Lineedit_Background_Disabled;
}
QLineEdit[class="LineEdit"][typography="caption"] {
    font-family: --ThemeFont_Textblock_Caption_Family;
    font-size: --ThemeFont_Textblock_Caption_Size;
    font-weight: --ThemeFont_Textblock_Caption_Weight;
    line-height: --ThemeFont_TextBlock_Caption_Lineheight;
}
QLineEdit[class="LineEdit"][typography="body"] {
    font-family: --ThemeFont_Textblock_Body_Family;
    font-size: --ThemeFont_Textblock_Body_Size;
    font-weight: --ThemeFont_Textblock_Body_Weight;
    line-height: --ThemeFont_TextBlock_Body_Lineheight;
}
QLineEdit[class="LineEdit"][typography="bodystrong"] {
    font-family: --ThemeFont_Textblock_Bodystrong_Family;
    font-size: --ThemeFont_Textblock_Bodystrong_Size;
    font-weight: --ThemeFont_Textblock_Bodystrong_Weight;
    line-height: --ThemeFont_TextBlock_Bodystrong_Lineheight;
}
QLineEdit[class="LineEdit"][typography="subtitle"] {
    font-family: --ThemeFont_Textblock_Subtitle_Family;
    font-size: --ThemeFont_Textblock_Subtitle_Size;
    font-weight: --ThemeFont_Textblock_Subtitle_Weight;
    line-height: --ThemeFont_TextBlock_Subtitle_Lineheight;
}
QLineEdit[class="LineEdit"][typography="title"] {
    font-family: --ThemeFont_Textblock_Title_Family;
    font-size: --ThemeFont_Textblock_Title_Size;
    font-weight: --ThemeFont_Textblock_Title_Weight;
    line-height: --ThemeFont_TextBlock_Title_Lineheight;
}
QLineEdit[class="LineEdit"][typography="title_large"] {
    font-family: --ThemeFont_Textblock_Title_large_Family;
    font-size: --ThemeFont_Textblock_Title_large_Size;
    font-weight: --ThemeFont_Textblock_Title_large_Weight;
    line-height: --ThemeFont_TextBlock_Title_large_Lineheight;
}
QLineEdit[class="LineEdit"][typography="display"] {
    font-family: --ThemeFont_Textblock_Display_Family;
    font-size: --ThemeFont_Textblock_Display_Size;
    font-weight: --ThemeFont_Textblock_Display_Weight;
    line-height: --ThemeFont_TextBlock_Display_Lineheight;
}
