RadioButton[class=RadioButton]{
    background: transparent;
    border: none;
    border-radius: 5px;
    color: --ThemeColor_Text_Default;
    font: 18px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    padding: 5px 12px;
    padding-left: 24px;
    outline: none;
}
RadioButton[class=RadioButton]:hover {
    background: transparent;
}
RadioButton[class=RadioButton]:pressed {
    background: transparent;
}
RadioButton[class=RadioButton]:disabled {
    background: transparent;
    border: none;
    color: --ThemeColor_Text_Disabled;
}
RadioButton[class="RadioButton"]::indicator {
    image: none;
    width: 0px;
    height: 0px;
}