QLabel[class="TextBlock"] {
    color: --ThemeColor_Textblock_Text_Default;
    font-family: --ThemeFont_Body_Family;
    font-size: --ThemeFont_Body_Size;
    font-weight: --ThemeFont_Body_Weight;
    padding: 2px;
}
QLabel[class="TextBlock"]:disabled {
    color: --ThemeColor_Textblock_Text_Disabled;
}