ToolButton[class="ToolButton"],
ToolButton[class="ToggleToolButton"] {
    background: --ThemeColor_Button_Background_Default;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    color: --ThemeColor_Button_Text_Default;
    padding: 5px 12px;
    outline: none;
}
ToolButton[class="ToolButton"]:hover,
ToolButton[class="ToggleToolButton"]:hover,
ToolButton[class="TransparentToolButton"]:hover,
ToolButton[class="TransparentToggleToolButton"]:hover {
    background-color: --ThemeColor_Button_Background_Hovered;
    color: --ThemeColor_Button_Text_Hovered;
}
ToolButton[class="ToolButton"]:pressed,
ToolButton[class="ToggleToolButton"]:pressed,
ToolButton[class="TransparentToolButton"]:pressed,
ToolButton[class="TransparentToggleToolButton"]:pressed {
    background-color: --ThemeColor_Button_Background_Pressed;
    color: --ThemeColor_Button_Text_Pressed;
}
ToolButton[class="ToolButton"]:disabled,
ToolButton[class="ToggleToolButton"]:disabled,
ToolButton[class="TransparentToolButton"]:disabled,
ToolButton[class="TransparentToggleToolButton"]:disabled {
    background-color: --ThemeColor_Button_Background_Disabled;
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: --ThemeColor_Button_Text_Disabled;
}

ToolButton[class="PrimaryToolButton"],
ToolButton[class="ToggleToolButton"]:checked,
ToolButton[class="TransparentToggleToolButton"]:checked {
    background-color: --ThemeColor_Button_Background_On_Accent_Default;
    border-radius: 5px;
    color: --ThemeColor_Button_Text_Inverse;
    font: 14px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    padding: 5px 12px;
}
ToolButton[class="PrimaryToolButton"]:hover,
ToolButton[class="ToggleToolButton"]:checked:hover,
ToolButton[class="TransparentToggleToolButton"]:checked:hover {
    background-color: --ThemeColor_Button_Background_On_Accent_Hovered;
    color: --ThemeColor_Button_Text_Inverse;
}
ToolButton[class="PrimaryToolButton"]:pressed,
ToolButton[class="ToggleToolButton"]:checked:pressed,
ToolButton[class="TransparentToggleToolButton"]:checked:pressed {
    background-color: --ThemeColor_Button_Background_On_Accent_Pressed;
    color: --ThemeColor_Button_Text_Inverse;
}
ToolButton[class="PrimaryToolButton"]:disabled,
ToolButton[class="ToggleToolButton"]:checked:disabled,
ToolButton[class="TransparentToggleToolButton"]:checked:disabled {
    background-color: --ThemeColor_Button_Background_On_Accent_Disabled;
    color: --ThemeColor_Button_Text_On_Accent_Disabled;
}

ToolButton[class="TransparentToolButton"],
ToolButton[class="TransparentToggleToolButton"] {
    background-color: transparent;
    border-radius: 5px;
    color: --ThemeColor_Button_Text_Default;
    padding: 5px 12px;
}