PushButton {
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    color: white;
    font: 14px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    padding: 5px 12px;
    outline: none;
}

PushButton:hover {
    background: rgba(255, 255, 255, 0.08);
}

PushButton:pressed {
    color: rgba(255, 255, 255, 0.78);
    background: rgba(255, 255, 255, 0.03);
}

PushButton:disabled {
    color: rgba(255, 255, 255, 0.36);
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

PushButton[hasIcon="false"] {
    padding: 5px 12px 6px 12px;
}

PushButton[hasIcon="true"] {
    padding: 5px 12px 6px 36px;
}
